flask
flask_cors
numpy
joblib
reportlab
gunicorn
werkzeug
rapidfuzz
flask_session
scikit-learn==1.6.1
sqlalchemy
flask
flask-cors
flask-session
gunicorn
requests
joblib
numpy
rapidfuzz
reportlab
psycopg2-binary
